{% extends 'base.html.twig' %}

{% block main %}

{% include 'flashes.html.twig' %}

<ul class="mt-3">
  {% for post in posts %}
  <li>
    <span class="text-black-50">{{ human_date(post.createdAt, 'm/d') }}</span>
    <a href="{{ path('app_post_show', {slug: post.slug}) }}" class="ml-2">{{ post.title }}</a>

    {% if is_granted('POST_EDIT', post) %}
    <a href="{{ path('app_post_edit', {slug: post.slug}) }}" class="text-black-50 ml-2" title="编辑">
      <i class="far fa-edit"></i>
    </a>
    {% endif %}

    {% if is_granted('POST_DELETE', post) %}
    <a href="{{ path('app_post_delete', {slug: post.slug, token: csrf_token('delete')}) }}" class="text-black-50 ml-2" title="删除">
      <i class="fas fa-trash-alt"></i>
    </a>
    {% endif %}
  </li>
  {% else %}
  <li>No items.</li>
  {% endfor %}
</ul>
{% endblock %}
