<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% block title %}Welcome!{% endblock %}</title>
{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
{% endblock %}
</head>
<body>
{% block body %}
<div class="container">
  <header class="border-bottom my-3 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-6 pt-1">
        <a class="text-muted" href="{{ path('app_index') }}">Siganushka's blog</a>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        {% if is_granted('ROLE_USER') %}
          <img src="{{ app.user.avatar }}" class="border rounded-circle" width="32px">
          <small>{{ app.user.username }} [<a href="{{ logout_path() }}">logout</a>]</small>
        {% else %}
          <a href="{{ path('app_login') }}">Login</a>
        {% endif %}
      </div>
    </div>
  </header>
  {% block main %}{% endblock %}
</div>
{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
