{% extends 'base.html.twig' %}

{% block title %}
  {{ post.title }} · {{ block('blog') }}
{% endblock %}

{% block main %}

<article>
  <section class="post-header mb-3">
    <h1>{{ post.title }}</h1>
    <p class="text-black-50">
      <span>由 {{ linked_username(post.user) }} 发布于 {{ human_date(post.createdAt) }}</span>

      {% if is_granted('POST_EDIT', post) %}
      <a href="{{ path('app_post_edit', { slug: post.slug }) }}" class="text-black-50 ml-2" title="编辑"><i class="far fa-edit"></i></a>
      {% endif %}

      {% if is_granted('POST_DELETE', post) %}
      <a href="{{ path('app_post_delete', { slug: post.slug, token: csrf_token('delete') }) }}" class="text-black-50 ml-2" title="删除"><i class="fas fa-trash-alt"></i></a>
      {% endif %}
    </p>
  </section>
  <section class="post-content markdown-body">
    {{ post.content|md2html }}
  </section>
</article>

<article class="alert alert-info">
  <small>该文章由由 {{ linked_username(post.user) }} 发布，转载请注明引用链接：</small>
  <input type="text" class="form-control mt-1 mb-1" value="{{ url('app_post_show', { slug: post.slug }) }}" onclick="this.select()">
</article>

<article id="comments">
  <div class="comments-form">
    {% if is_granted('ROLE_READER') %}
    <p>以 {{ linked_username(app.user) }} 身份发布评论：</p>
    {{ form(form) }}
    {% else %}
    <p><a href="{{ path('app_login_oauth_github') }}">登录</a> 后发布评论！</p>
    {% endif %}
  </div>

  <ul class="comments-list list-unstyled">
    {% for comment in post.comments %}
    <li id="comments-{{ comment.id }}" class="media border-bottom mb-3">
      <img src="{{ comment.user.avatar }}"  width="64px" class="border mr-3" alt="{{ comment.user.username }}">
      <div class="media-body">
        <p class="mt-0 mb-1 text-black-50">由 {{ linked_username(comment.user) }} 发布于 {{ human_date(comment.createdAt) }}</p>
        {{ comment.content|md2html }}
      </div>
    </li>
    {% endfor %}
  </ul>
</article>
{% endblock %}
